* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

*::selection {
    background-color: #00072D;
    color: white;
}

a {
    text-decoration: none;
}
 /* Barra superior */
 .bg-barraDeWhatsapp {
    background-color: #00072D;
 }

 .whatsapp {
    right: 500px;
 }

 /*
.barraSuperior {
    display: flex;
    height: 50px;
    padding: 5px;
    background-color: #00072D;
}
/* Busqueda */

/*
.barraBusqueda {
    position: absolute;
    padding: 5px;
    right: 80px;
    top: 10px;
}
.barraBusqueda input {
    width: 0px;
    height: 25px;
    padding: 0 10px;
    font-size: 15px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.btn {
    position: absolute;
    top: 0%;
    right: 0%;
    background: #0E6BA8;
    width: 30px;
    height: 30px;
    line-height: 18px;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.barraBusqueda:hover input {
    width: 240px;
}
.barraBusqueda input:focus {
    width: 240px;
} */

/* Contactanos por WhatsApp*/
/*
.barraWhatsapp {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.barraWhatsapp p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    color: white;
    top: 5px;
}
.iconoWhatsapp {
    position: absolute;
    top: 0px;
    right: 750px;
    font-size: 25px;
    color: white;
}
/* Header superior */
.encabezado {
    background-color: white;
    display: grid;
    padding: 50px;
    height: 100px;
    grid-template-columns: 1fr 5fr;
}

.encabezado a {
    color: #00072D;
}

.logotipoOptica {
    height: 90px;
    top: 15px;
    display: flex;
    flex-direction: row;
    margin-top: -30px;
    left: 200px;
}

.logo {
    width: 100%;
    height: 80px;
}

.encabezadoTitulo {
    width: 800px;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    display: flex;
}


.menu {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 100px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 250px;
    margin-top: -25px;
}

li {
    color: #00072D;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.navbar {
    width: 100%;
    display: flex;
}

.menu__item {
    text-decoration: none;
}

/* Menu bar */
.menu-bar {
    background-color: #001C55;
    text-align: center;
    height: 30px;
}

.menu-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menubarDesplegable {
    display: inline-flex;
    list-style: none;
}

.paginasMenubar {
    width: 120px;
    margin: 5px;
    padding: 5px;
    font-size: 10px;
}

.menu-bar ul li:hover {
    background-color: #00072D;
}

/* Submenu */

.sub-menu1 {
    display: none;
    list-style-type: none;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background-color: #00072D;
    margin-top: 5px;
    margin-left: -5px;
    list-style-type: none;
}

.menu-bar ul li:hover .sub-menu1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li {
    width: 120px;
    padding: 10px;
    border-bottom: 1px solid white;
    background: transparent;
    text-align: left;
    font-size: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li a {
    list-style-type: none;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover {
    color: #0E6BA8;
}


/* Slider */ 
.slider {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.imagenesSlide {
    display: flex;
    width: 500%;
    background-image: url(../img/modelo1.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
    animation: animacion 40s infinite;
}

.contenido {
    position: relative;
    bottom: -200px;
    left: 60%;
    padding: 50px;
    z-index: 1;
    max-width: 400px;
}

.contenido h2 {
    margin: 0;
    padding: 0;
    font-size: 62px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 10px;
}

.contenido p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

@keyframes animacion {
    20% {
        background-image: url(../img/medelo5.jpg);
        background-size: cover;
    }

    40% {
        background-image: url(../img/modelo4.jpg);
        background-size: cover;
    }

    60% {
        background-image: url(../img/modelo3.jpg);
        background-size: cover;
    }

    80% {
        background-image: url(../img/modelo2.jpg);
        background-size: cover;
    }

    100% {
        background-image: url(../img/modelo1.jpg);
        background-size: cover;
    }
}

/* Cards lentes*/
.novedades {
    position: absolute;
    height: 10px;
    font-size: 30px;
    top: 1250px;
    right: 45%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
}

.card {
    display: grid;
    background-color: #0A2472;
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
    box-shadow: 0px 10px 30px #00072D;
    color: white;
}

.cards {
    padding: 80px;
    background-color: #A6E1FA;
    display: flex;
    gap: 50px;
}

.card__imagen {
    width: 100%;
}

.card__div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card__titulo {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.card__descripcion {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.card__boton {
    background-color: aliceblue;
    display: flex;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
    margin-left: 170px;
}

/* Footer */

.footer {
    background-color: #001C55;
    display: flex;
    height: 350px;
    padding: 30px;
}

.textoLogo {
    width: 30px;
    display: grid;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin-left: 150px;
}

.footer__lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 90px;
}

.footer__texto {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin-left: -175px;
    margin-top: 20px;
}

.footer__logo {
    display: flex;
    height: 20vh;
    width: 50%;
}

.logoChico {
    display: flex;
    width: 0px;
    height: 45%;
    size: 50px;
    margin-left: 30px;
}

/* Footer - Categorias */
.categorias {
    border-left: 2px solid white;
    margin-left: 250px;
    padding: 30px;
    padding-top: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categorias__lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.categorias__titulo {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.categorias__texto {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    gap: 50px;
    color: white;
}

/* Footer - Informacion */

.informacion {
    border-left: 2px solid white;
    margin-left: 30%;
    padding: 30px;
    padding-top: 5px;
    color: white;
}

.informacion__lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.informacion__titulo {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.informacion__texto {
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    gap: 15px;
    color: white;
    text-decoration: none;
}

.pieDePagina {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    background-color:#001C55;
}

.pieDePagina a {
    color: white;
}

@media screen and (max-width: 576px){
    /* Encabezado*/
    .encabezado {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: #001C55 ;
    }

    .logotipoOptica {
        gap: 1rem;
        margin-left: 10px;
    }
    
    .logo {
        width: 90%;
        height: 50px;
    }
    
    .encabezadoTitulo {
        font-size: 40px;
        color: white;
    }
    
    .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        height: 100%;
        margin-left: 130px;
        margin-top: 30px;
        justify-content: center;
    }
    
    li {
        color: white;
    }
    
    .navbar {
        flex-direction: row;
        margin-left: -850px;
    }

    .navbar a {
        color: white;
    }

    .menu-bar {
        display: none;
    }


    /* Imagen principal */
    .imagenPrincipal {
        height: 500px;
    }

    /* Cards */
    .novedades {
        font-size: 25px;
        right: 35%;
    }
    
    .card {
        display: grid;
        width: 100%;
    }
    
    .cards {
        padding: 80px;
        background-color: #A6E1FA;
        display: grid;
        gap: 50px;
    }
    
    .card__imagen {
        width: 100%;
        height: 100%;
    }
    
    .card__div {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .card__titulo {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    .card__descripcion {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
    }
    
    .card__boton {
        background-color: aliceblue;
        display: flex;
        width: 0px;
        height: 0px;
        border-radius: 0px;
        line-height: 0px;
        text-align: none;
        margin-left: 0px;
    }
    
    /* Footer */
    .footer {
        background-color: #001C55;
        max-width: 480px;
        display: grid;
        height: 100%;
        padding: 30px;
        grid-template-columns: 1fr;
    }

    
    .footer__lista {
        display: none;
    }
    
    .footer__texto {
        display: none;
    }
    
    .footer__logo {
        height: 15vh;
    }
    
    
    /* Footer - Categorias */
    .categorias {
        border-left: 2px solid white;
        margin-left: 20px;
        padding: 30px;
        padding-top: 5px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .categorias__lista {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .categorias__titulo {
        font-size: 20px;
    }
    
    .categorias__texto {
        margin-top: 10px;
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        gap: 50px;
        color: white;
    }
    
    /* Footer - Informacion */
    
    .informacion {
        border-left: 2px solid white;
        margin-left: 4.7%;
        padding: 30px;
        padding-top: 5px;
        color: white;
    }
    
    .informacion__lista {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .informacion__titulo {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    
    .informacion__texto {
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        display: flex;
        gap: 15px;
        color: white;
        text-decoration: none;
    }
    
    .pieDePagina {
        display: grid;
        grid-template-columns: 1fr;
        background-color:#001C55;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    /* Encabezado*/
    .encabezado {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: #001C55 ;
    }

    .logotipoOptica {
        gap: 1rem;
        margin-left: 250px;
    }
    
    .logo {
        width: 90%;
        height: 50px;
    }
    
    .encabezadoTitulo {
        font-size: 40px;
        color: white;
    }
    
    .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        height: 100%;
        margin-left: 130px;
        margin-top: 30px;
        justify-content: center;
    }
    
    li {
        color: white;
    }
    
    .navbar {
        flex-direction: row;
        margin-left: -850px;
    }

    .navbar a {
        color: white;
    }

    .menu-bar {
        display: none;
    }

    /* Imagen principal */
    .imagenPrincipal {
        height: 500px;
    }

    /* Cards */
    .novedades {
        font-size: 25px;
        right: 35%;
    }
    
   /*  .card {
        display: grid;
        width: 100%;
    }
    
    .cards {
        padding: 80px;
        background-color: #A6E1FA;
        display: grid;
        gap: 50px;
    }
    
    .card__imagen {
        width: 100%;
        height: 100%;
    }
    
    .card__div {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .card__titulo {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    .card__descripcion {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
    }
    
    .card__boton {
        background-color: aliceblue;
        display: flex;
        width: 0px;
        height: 0px;
        border-radius: 0px;
        line-height: 0px;
        text-align: none;
        margin-left: 0px;
    } */
    
    /* Footer */
    .footer {
        background-color: #001C55;
        max-width: 480px;
        display: grid;
        height: 100%;
        padding: 30px;
        grid-template-columns: 1fr;
    }

    
    .footer__lista {
        display: none;
    }
    
    .footer__texto {
        display: none;
    }
    
    .footer__logo {
        height: 15vh;
    }
    
    
    /* Footer - Categorias */
    .categorias {
        border-left: 2px solid white;
        margin-left: 20px;
        padding: 30px;
        padding-top: 5px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .categorias__lista {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .categorias__titulo {
        font-size: 20px;
    }
    
    .categorias__texto {
        margin-top: 10px;
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        gap: 50px;
        color: white;
    }
    
    /* Footer - Informacion */
    
    .informacion {
        border-left: 2px solid white;
        margin-left: 4.7%;
        padding: 30px;
        padding-top: 5px;
        color: white;
    }
    
    .informacion__lista {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .informacion__titulo {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    
    .informacion__texto {
        font-size: 11px;
        font-family: 'Noto Sans', sans-serif;
        display: flex;
        gap: 15px;
        color: white;
        text-decoration: none;
    }
    
    .pieDePagina {
        display: grid;
        grid-template-columns: 1fr;
        background-color:#001C55;
    }
}